@charset "UTF-8";
/* CSS Document */

/* Colours
	Pink – #C2125D;
    Coral - #f5686e;
    Bright Pink - #EC4067;
	Blue – #2CD2C1;
*/

@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

*, *:before, *:after {
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
    text-size-adjust: 100%;
	font-family: 'Roboto', sans-serif;
	color: #000000;
    background-image:url(../images/adventure-beach-blue-386025.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    height:100vh;
    background-position:center;
    text-align:center;
}

h2 {
    font-size: 30px;
    text-transform:uppercase;
    margin-top: 10vh;
}

p {
    font-size: 14px;
}